body{
    font-family: monospace;
    background-color: #FFF7F0;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
}

.container{
    width: 90%;
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li:first-child{
    padding-right:30px
}

.navigation ul li a, h1 a {
    text-decoration: none;
    color:black;
}