:root {
  box-sizing: border-box;
}
.square {
  height: 200px;
  width: 200px;

  border: 1px solid black;
}

.game-container {
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
