body{
    height:100vh;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(90,90,107,1) 35%, rgba(255,255,255,1) 100%);
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.buttons{
    display: grid;
    grid-template-areas: 
        "clear clear backspace divide"
        "seven eight nine times"
        "four five six minus"
        "one two three plus"
        "zero zero zero equals";
        grid-template-columns: 50px 50px 50px 50px;
        grid-template-rows: 50px 50px 50px 50px;
        font-family: monospace;
}

.output{
    height:50px;
    font-family: monospace;
}

.clear{ grid-area: clear;}
.backspace{ grid-area: backspace;}
.divide{ grid-area: divide;}
.seven{ grid-area: seven}
.eight{ grid-area: eight;}
.nine{ grid-area: nine;}
.times{ grid-area: times;}
.four{ grid-area: four}
.five{ grid-area: five;}
.six{ grid-area: six;}
.minus{grid-area: minus;}
.one{grid-area: one;}
.two{grid-area: two;}
.three{grid-area: three;}
.plus{grid-area: plus;}
.zero{grid-area: zero;}
.equals{grid-area: equals}


.output{ 
    grid-area: output;
    text-align: right;
}

.output p {
    margin-top: 12px;
    margin-right: 5px;
}


.button{
    text-align: center;
    border-radius: 0px;
    height:50px;
    font-size: 24px;
    border:none;
}


.grey-button{
    background-color: #E2E2E4;
    border-bottom: black solid 1px;
    border-left: black solid 1px;
}


.grey-button:hover{
    background-color: #f9f9fe;;
}

.grey-button:active{
    background-color: #b4b4b6;
}


.orange-button{
    background-color: #E99E57;
    color:white;
    border-bottom: black solid 1px;
    border-left: black solid 1px;
    border-right: black solid 1px;
}

.orange-button:hover{
    background-color: #f3a55c;
}

.orange-button:active{
    background-color: #cb894a;
}

.output{
    color:white;
    background-color: black;
    font-size: 24px;
}