.container{
    display: flex;
    justify-content: center;
    gap:2vw
}
.input-container{
    width: 40%;
    border: 1px red solid;
}

.task-container{
    width: 40%;
    border: 1px blue solid;
}

@media only screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .input-container{
        width: 80%;
    }
    .task-container{
        width: 80%;
    }
}