

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(15,100,102);
    background: linear-gradient(214deg, rgba(15,100,102,1) 0%, rgba(210,232,227,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-today-forecast{
    display: flex;
    height: 100vh;
}

.weather-info{
    padding-top: 30px;
    background-color: #FFCB9A;
    color:white;
    width:325px;
    height:70%;
    margin: auto;
    border-radius: 30px;
    border: 7px solid white;
}

.weather-info h2, .weather-info p {
    text-align: center;
}

#max{
    margin-top:0;
    margin-bottom: 0;
    font-size: 80px;
}

#weather-icon{
    width:300px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.weekly-forecast{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.day{
    display: block;
    background-color: #FFCB9A;
    width: 325px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    border: 7px solid white;
    text-align: center;
    color:white;
}

.daily-max-temp{
    font-size: 30px;
}

.day img{
    height: 100px;
}