.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.player-buttons {
  grid-column: 1/2;
  grid-row: 2/3;
}

.player,
.cpu,
.game-functions {
  text-align: center;
}

.game-functions {
  grid-row: 1/3;
}
